<!-- ============================ Browse Place ================================== -->
<section class="image-cover" style="background:url(img/bg-1.jpg) no-repeat;" data-overlay="6">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-9 col-md-10">
						
				<div class="sec-heading center light">
					<h2>Pesquise os melhores lugares</h2>
					<p>Temos imóveis disponíveis nos melhores bairros da cidade de São Paulo. </p>
					<a href="#" class="btn btn-theme-2 mt-3">Encontrar</a>
				</div>
							
			</div>
		</div>
	</div>
</section>
<!-- ============================ Browse Place End ================================== -->
			
