<!-- ============================ Property Location Start ================================== -->
<section>
	<div class="container">
					
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="sec-heading center">
					<h2>Encontre por região</h2>
					<p>Temos as melhores opções pra você.</p>
				</div>
			</div>
		</div>
					
		<div class="row">
					
			<div class="col-lg-8 col-md-8">
				<a href="listings-list-with-sidebar.html" class="img-wrap">
						<div class="img-wrap-content visible">
							<h4>Los Angeles</h4>
							<span>24 imóveis</span>
						</div>
					<div class="img-wrap-background" style="background-image: url(img/tour-1.jpg);"></div>
				</a>	
			</div>
						
			<div class="col-lg-4 col-md-4">
				<a href="listings-list-with-sidebar.html" class="img-wrap">
						<div class="img-wrap-content visible">
							<h4>Los Angeles</h4>
							<span>24 imóveis</span>
						</div>
					<div class="img-wrap-background" style="background-image: url(img/tour-2.jpg);"></div>
				</a>
			</div>
						
		</div>
					
		<div class="row">
					
			<div class="col-lg-4 col-md-4">
				<a href="listings-list-with-sidebar.html" class="img-wrap">
						<div class="img-wrap-content visible">
							<h4>Los Angeles</h4>
							<span>24 imóveis</span>
						</div>
					<div class="img-wrap-background" style="background-image: url(img/tour-3.jpg);"></div>
				</a>	
			</div>
						
			<div class="col-lg-4 col-md-4">
				<a href="listings-list-with-sidebar.html" class="img-wrap">
						<div class="img-wrap-content visible">
							<h4>Los Angeles</h4>
							<span>24 imóveis</span>
						</div>
					<div class="img-wrap-background" style="background-image: url(img/tour-4.jpg);"></div>
				</a>
			</div>
						
			<div class="col-lg-4 col-md-4">
				<a href="listings-list-with-sidebar.html" class="img-wrap">
						<div class="img-wrap-content visible">
							<h4>Los Angeles</h4>
							<span>24 imóveis</span>
						</div>
					<div class="img-wrap-background" style="background-image: url(img/tour-5.jpg);"></div>
				</a>
			</div>
						
		</div>
					
	</div>
</section>
<!-- ============================ Property Location End ================================== -->
