@model List<ImovelGo.Web.Models.PostViewModel>
<!-- ================================= Blog Grid ================================== -->
<section>
	<div class="container">
				
		<div class="row">
			<div class="col text-center">
				<div class="sec-heading center">
					<h2>Artigos em destaque</h2>
					<p>Publicamos regularmente artigos pra te ajudar na sua nova moradia.</p>
				</div>
			</div>
		</div>
					
        <div class="row">

            @foreach (var item in Model)
            {
                <!-- Single blog Grid -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap-grid">

                        <div class="blog-thumb">
                            <a href="/Blog/Post/@item.PostId"><img src="~/img/p-11.jpg" class="img-fluid" alt="" /></a>
                        </div>

                        <div class="blog-info">
                            <span class="post-date"><i class="ti-calendar"></i>@item.Date</span>
                        </div>

                        <div class="blog-body">
                            <h4 class="bl-title"><a href="/Blog/Post/@item.PostId">@item.Title</a></h4>
                            <p>@item.Resume</p>
                            <a href="/Blog/Post/@item.PostId" class="bl-continue">Leia mais</a>
                        </div>

                    </div>
                </div>
            }

        </div>
					
	</div>		
</section>
<!-- ================= Blog Grid End ================= -->