@model ImovelGo.Web.Models.PagedResultsModel<PropertyViewModel>
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="filter-fl">
                    <h4>Imóveis encontrados: <span class="theme-cl">207</span></h4>
                    <div class="btn-group custom-drop">
                        <button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ordenar por<i class="ti-angle-down"></i>
                        </button>
                        <div class="dropdown-menu pull-right animated flipInX">
                            <a href="#">Mais novos</a>
                            <a href="#">Mais vistos</a>
                            <a href="#">Mais populares</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Sale</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">Resort Valley Ocs</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>3848 Swick Hill, New Orleans</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>2</li>
                                <li><strong>Bath:</strong>1</li>
                                <li><strong>Sqft:</strong>3,700</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$632,580</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->
            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Rent</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">New Clue Apartment</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>127, Quice Market, New York</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>2</li>
                                <li><strong>Bath:</strong>2</li>
                                <li><strong>Sqft:</strong>2,900</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$3,570</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->
            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Sale</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">Luxury Home in Manhattan</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>588 Oakmound Road, Chicago</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>3</li>
                                <li><strong>Bath:</strong>2</li>
                                <li><strong>Sqft:</strong>2,400</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$182,880</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->
            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Rent</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">Energy Certificate for EU</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>425 Amethyst Drive, North Adams</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>2</li>
                                <li><strong>Bath:</strong>2</li>
                                <li><strong>Sqft:</strong>2,400</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$2,680</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->
            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Rent</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">Office Space New York</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>4192 Caynor Circle, Summit</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>2</li>
                                <li><strong>Bath:</strong>2</li>
                                <li><strong>Sqft:</strong>2,700</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$2,580</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->
            <!-- Single Property Start -->
            <div class="col-lg-6 col-md-6">
                <div class="property-listing property-1">

                    <div class="listing-img-wrapper">
                        <a href="single-property-2.html">
                            <img src="https://via.placeholder.com/1300x850" class="img-fluid mx-auto" alt="" />
                        </a>
                        <div class="listing-like-top">
                            <i class="ti-heart"></i>
                        </div>
                        <div class="listing-rating">
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star filled"></i>
                            <i class="ti-star"></i>
                        </div>
                        <span class="property-type">For Sale</span>
                    </div>

                    <div class="listing-content">

                        <div class="listing-detail-wrapper">
                            <div class="listing-short-detail">
                                <h4 class="listing-name"><a href="single-property-2.html">Apartment to rent in Queens</a></h4>
                                <span class="listing-location"><i class="ti-location-pin"></i>818 Modoc Alley, Potlatch</span>
                            </div>
                            <div class="list-author">
                                <a href="#"><img src="https://via.placeholder.com/400x400" class="img-fluid img-circle avater-30" alt=""></a>
                            </div>
                        </div>

                        <div class="listing-features-info">
                            <ul>
                                <li><strong>Bed:</strong>3</li>
                                <li><strong>Bath:</strong>2</li>
                                <li><strong>Sqft:</strong>2,800</li>
                            </ul>
                        </div>

                        <div class="listing-footer-wrapper">
                            <div class="listing-price">
                                <h4 class="list-pr">$122,580</h4>
                            </div>
                            <div class="listing-detail-btn">
                                <a href="single-property-2.html" class="more-btn">More Info</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Single Property End -->

        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="pagination p-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span class="ti-arrow-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span class="ti-arrow-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
