<!-- ============================ Step How To Use Start ================================== -->
<section>
	<div class="container">
					
		<div class="row">
			<div class="col text-center">
				<div class="sec-heading center">
					<h2>Como funciona?</h2>
					<p>Conheça nosso processo</p>
				</div>
			</div>
		</div>
					
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="middle-icon-features">
					<div class="middle-icon-features-item">
						<div class="middle-icon-large-features-box"><i class="ti-user text-danger"></i><span class="steps bg-danger">01</span></div>
						<div class="middle-icon-features-content">
							<h4>Crie sua conta</h4>
							<p>Alguns dados básicos são necessários para criação da sua conta.</p>
						</div>
					</div>
				</div>
			</div>
						
			<div class="col-lg-4 col-md-4">
				<div class="middle-icon-features">
					<div class="middle-icon-features-item">
						<div class="middle-icon-large-features-box"><i class="ti-search text-success"></i><span class="steps bg-success">02</span></div>
						<div class="middle-icon-features-content">
							<h4>Pesquise e encontre seu imóvel</h4>
							<p>Nossas ferramentas avançadas vão te ajudar a encontrar a melhor solução.</p>
						</div>
					</div>
				</div>
			</div>
						
			<div class="col-lg-4 col-md-4">
				<div class="middle-icon-features">
					<div class="middle-icon-features-item">
						<div class="middle-icon-large-features-box"><i class="ti-location-arrow text-warning"></i><span class="steps bg-warning">03</span></div>
						<div class="middle-icon-features-content">
							<h4>Marque sua visita</h4>
							<p>Consulte os horários disponíveis e reserve uma visita no imóvel escolhido.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
					
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Step How To Use End ================================== -->
