@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.btn.loading {
    color: transparent !important;
    position: relative;
    pointer-events: none;
}

.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #fff;
    animation: spinner .6s linear infinite;
}
